# Server
PORT=5001
NODE_ENV=development

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_API_URL=
# Database
LOCAL_DATABASE_URL=

# CORS
CLIENT_URL=


EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
